<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Typescript Node - Express Application</title>
        <style>
            html,body{margin: 0;padding: 0;} body{ background-color: #121212; font-family:
            monospace; color: #fff;} .container{ display: flex; align-items: center;justify-content:
            center;width: 100%;height: 100vh; flex-direction: column;} small,a{ color:
            #fff;text-decoration: none; }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>
                Typescript Node JS Express Boilerplate
            </h1>
            <small>
                By
                <a href="https://github.com/sihilelh">@sihilelh</a>
            </small>
        </div>
    </body>
</html>